
.projectConatiner {
    width: 100%;
    height: 50vh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    margin-bottom: 100px;
}

.projectImage {
    border-radius: 20px;
    position: absolute;
    z-index: 1;
    width: auto;
    height: 100%;
}

@media (min-width: 880px) {
    .normal {
        top: -10%;
        right: 10%;
    }

    .flipped {
        top: -10%;
        left: 10%;
    }

    .projectInfoContainer {
        
        width: 600px;
        height: 250px;
    }

    .projectInfoContainer:hover {
        animation-name: expand;
        animation-timing-function: ease;
        animation-duration: 0.5s;
        animation-fill-mode: forwards;
    }

    .projectInfoContainer:not(:hover) {
        animation-name: retract;
        animation-timing-function: ease;
        animation-duration: 0.5s;
        animation-fill-mode: forwards;
    }
}

@media (min-width: 700px) and (max-width: 879px) {
    .normal .flipped {
        top: 50%;
        left: 10%;
    }
    .projectInfoContainer {
        width:calc(600px - 2%);
        height: 250px;
        top: -30%;
    }
    .projectInfoContainer:hover {
    animation-name: expand;
    animation-timing-function: ease;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
    }

    .projectInfoContainer:not(:hover) {
        animation-name: retract;
        animation-timing-function: ease;
        animation-duration: 0.5s;
        animation-fill-mode: forwards;
    }
}

@media (max-width: 699px) {
    .projectInfoContainer {
        width: 98%;
        height: auto;
        top: -30%;
        margin: 0;
    }
    .normal .flipped {
        top: 0%;
        left: 10%;
    }
}

.projectInfoContainer {
    position: absolute;
    background-color: rgba(36, 158, 148, 0.75);
    border-radius: 5px;
    padding: 2% 0% 0% 2%;
        div {
        margin-bottom: 2%;
    }
    z-index: 2;
    
}

.projectTitle {
    font-size: 1.5rem;
    font-weight: 700;
}

.projectSkillsContainer {
    display: flex;
}

.skill {
    margin: 5px 10px 5px 0px;
    padding: 5px;
    border-radius: 10px;
    background-color: rgb(0, 84, 97);
}

.links {
    display: flex;

    div {
        margin: 5px 10px 0 0;
    }
}

@keyframes expand {
    0% {
        transform: scale(1);
    }    
    100% {
        transform: scale(1.1);
    }
}

@keyframes retract {
    0% {
        transform: scale(1.1);
    }    
    100% {
        transform: scale(1);
    }
}