
.cardContainer {
    display: grid;
    place-items: center;
    margin: 5%;
}

.icon {
    width: 50px;
    height: 70px;
}

.cardContainer:hover {
    animation-name: expand;
    animation-timing-function: ease;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
}

.cardContainer:not(:hover) {
    animation-name: retract;
    animation-timing-function: ease;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
}

@keyframes expand {
    0% {
        transform: scale(1);
    }    
    100% {
        transform: scale(1.2);
    }
}

@keyframes retract {
    0% {
        transform: scale(1.2);
    }    
    100% {
        transform: scale(1);
    }
}