html{
    padding: 0px;
    border: 0px;
    margin: 0px;
    background-color: #005461;
    color: #c7fbfe;
}

body {
    padding: 0px;
    border: 0px;
    margin: 0px;
    width: 100%;
}

@media (min-width: 880px) {
    html {
        font-size: 16px;
    }
}

@media (max-width: 879px) {
    html {
        font-size: 12px;
    }
}