
.about {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
}

.introduction {
    width: 35%;
    p {
        width: auto;
        overflow: visible;
        white-space: wrap;
        margin: 0 0 10px 0;
        letter-spacing: .15em;
        font-size: 1.5rem;
        justify-content: baseline;
        opacity: 0;
        animation-name: fadeIn;
        animation-duration: 1s; 
        animation-fill-mode: forwards;
        animation-timing-function: ease-in;
    }

    p:nth-child(2) {
        font-size: 3rem;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.technologies {
  width: 100%;

  h1 {
    margin-left: 5%;
  }
}

.technologiesList {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.contact {
  width: 100%;
  display: grid;
  place-items: center;
  background-color: #000e10;
}

.contactIcons {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  * {
    margin: 20px;
  }
}